<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740758238090-cpucbfke5cpqvspkoln0fq3qhtb9efot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740758238090-cpucbfke5cpqvspkoln0fq3qhtb9efot</string>
	<key>API_KEY</key>
	<string>AIzaSyA5v33Ir3cxbk0w5QvEwh3nND2ZmsnaZus</string>
	<key>GCM_SENDER_ID</key>
	<string>740758238090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jaredsApp</string>
	<key>PROJECT_ID</key>
	<string>jareds-app-a4dc9</string>
	<key>STORAGE_BUCKET</key>
	<string>jareds-app-a4dc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740758238090:ios:f429e3cd883b6873e84e73</string>
</dict>
</plist>